<article class="welcome">
  <%= link_to new_user_path, class: "cta" do %>
    <p>I want to be a mentor</p>
    <i class="material-icons">arrow_forward</i>
  <% end %>
  <%= link_to login_path, class: "cta" do %>
    <p>I am already a mentor</p>
    <i class="material-icons">arrow_forward</i>
  <% end %>
  <%= link_to '/auth/census', class: "cta" do %>
    <p>I am a student looking for a mentor</p>
    <i class="material-icons">arrow_forward</i>
  <% end %>
</article>
