.container-left {

  .sidebar-container {

    .sidebar {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;

      .logo {
        padding: 15px;

        img {
          max-width: 100%;
          margin-bottom: 25px;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        a {
          color: #fff;
          font-size: 18px;
          text-decoration: none;

          li.nav-item {
            padding: 25px;
          }

        }

        a:hover {
          color: #fff;

          li {
            background-color: #00a4b9;
            cursor: pointer;
          }
        }
      }
    }
  }
}
