html, body {
margin: 0;
padding: 0;
font-family: "azo-sans-web","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

// Logo

.logo img {
  max-width: 100%
}

.sidebar {
position: fixed;
top: 0px;
bottom: 0px;
left: 0px;
width: 300px;
padding: 1.5em;
background: #00bbd2;
text-transform: capitalize;
}

.sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}

.sidebar li a {
color: #fff;
font-size: 1.2em;
margin: 0;
margin-bottom: 16px;
cursor: pointer;
text-decoration: none;
line-height: 200%;
}

.sidebar a:hover {
  color: rgba(0, 0, 0, 0.61);
}
