
.sidebar-container {

  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    padding: 1.5em;
    background: #00bbd2;
    text-transform: capitalize;

    .logo img {
      max-width: 100%;
      margin-bottom: 25px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;

        li {
          padding: 25px;
        }

      }

      a:hover {
        color: #fff;

        li {
          background-color: #00a4b9;
          cursor: pointer;
        }
      }
    }
  }
}
