/*//////////////////////////////////////
//  fonts
//////////////////////////////////////*/
$font-sans: Helvetica;
$font-serif: 'Crimson Sans';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

h1,h2,h3,h4,h5,h6{
    font-weight:200;
}

p, a{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400 !important;
}

a{
    text-decoration: none;
}

h1{
    font-size: 30px;
    text-align: center;
    line-height: 34px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

h2{
    font-size: 22px;
    line-height: 30px;
}

h3{
    font-size: 18px;
    line-height: 26px;
}

@media all and(min-width: 800px) {
    p, a{
        font-weight: 200 !important;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 100;
    }
}


*{
    &::selection {
        background: $turing-accent-blue;
    }
    &::-moz-selection {
        background: $turing-accent-blue;
    }
}

/*//////////////////////////////////////
//  extension on skeleton
//////////////////////////////////////*/
$grid-columns: 12;
$width:1200px;
$max-width:1200px;
$font-size:10;
$paragraph-size:1.6;
$header-height: 60px;
$box-padding: 20px;

*{
  box-sizing: border-box;
}


.disable-hover{
    pointer-events:none;
}

b,strong{
    font-weight:700;
}

i,em{
    font-style:italic;
}

input:focus, textarea:focus,button,input[type="submit"]{
    outline:none;
}

button,input[type="submit"]{
    cursor:pointer;
}

/*//////////////////////////////////////
//  mixins
//////////////////////////////////////*/

@mixin input-placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


/*//////////////////////////////////////
//  silent classes
//////////////////////////////////////*/

%block{
    max-width:$width;
    width:100%;
    margin:0 auto;
    display:block;
}

%marpad{
    padding:0;
    margin:0;
}

%cover{
    background-size: cover;
    -ms-behavior: url(/js/vendor/backgroundsize.min.htc);
}

%default-transition{
    transition: all .3s ease-in-out;
}

%opacity-transition{
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

%middle{
    position: relative;
    top: 50%;
    right: auto;
    bottom: auto;
    left: auto;
    transform: translateY(-50%);
}

%absolute-middle{
    position: absolute;
    top: 50%;
    right: auto;
    bottom: 50%;
    transform: translateY(-50%) translateX(-50%);
}

%hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%psuedo-content{
    content:" ";
    display:block;
}

body,html{
    display:block;
    height:100%;
}

body{
    font-size:62.5%;
    position:relative;
    font-family:$font-sans;
}
