Hello <%= @mentor.name %>

You have received a mentoring request from <%= @user.name %>. Here is the message:

<p> <%= @message %> </p>

If you are interested in mentoring this person, please respond to them at <%= @user.email %>
