body {
  background: url('cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-article {
  margin: auto;
  margin-top: 15%;
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(211, 211, 211, .8);
  border-radius: 5px;
}



#white-turing-logo {
  padding-top: 20px;
  width: 300px;
  height: auto;
}
 /*flex: 2;*/
}
