.navbar-default {
  border-radius: 0px;
  background-color: #333;
  border: none;
  opacity: 0.9;
  height: 70px;
}

.navbar-brand {
  float: none;
  padding: 15px 15px;
  font-size: 18px;
}

.navbar-logo {
  max-height: 40px;
  position: relative;
}